:root {
  --white-color: #ffffff;
  --slightly-white-color: #f7f7f7;
  --light-gray-color: #b0b0b0cc;
  --light-black-color: #222222;
  --pink-color: #ff385c;
  --pink-gradient-color: radial-gradient(
    circle at left,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --light-gray-color: #717171;
  --gray-color: #484848;
  --slightly-dark-gray-color: #333333;
  --black-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

/* Header */
header {
  position: absolute;
  top: 0;
  z-index: 2;
  margin: 1.3em 0.8em;
}

header > nav > a {
  color: var(--white-color);
  font-size: 2.5rem;
  background: none;
  padding: 0.35em;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

header > nav > a:hover {
  background: var(--gray-color);
}

/* Hero Section */
.hero-section {
  background: url("assets/herosectionimage.jpg");
  background-size: cover;
  background-position: center;
  height: 34em;
  padding: 2em;
  box-shadow: inset 150px 0px 300px var(--black-color);
}

.hero-section h2 {
  color: var(--white-color);
  font-size: 1.3rem;
  margin-top: 4em;
  font-weight: 700;
}

.hero-section h1 {
  color: var(--white-color);
  font-size: clamp(2rem, 5vw, 3.7rem);
  width: min(100%, 10em);
  margin-top: 0.2em;
  line-height: 1em;
}

.hero-section p {
  color: var(--white-color);
  width: min(100%, 23em);
  margin-top: 1em;
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  line-height: 1.5em;
}

.hero-section button {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  color: var(--white-color);
  outline: none;
  background: var(--pink-gradient-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.hero-section button:hover {
  background: var(--pink-color);
}

@media (min-width: 50em) {
  .hero-section {
    padding: 2em 5em;
  }

  .hero-section h2 {
    margin-top: 3.2em;
  }

  .hero-section h1 {
    width: 10em;
  }

  .hero-section p {
    width: 22em;
  }
}

/* Chapter Section */
.chapter-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 2em;
  margin: 3em;
}

.chapter-section h1 {
  color: var(--light-black-color);
  font-size: 2.5rem;
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  margin-right: 0.5em;
  line-height: 1.2em;
}

.chapter-section section {
  margin-right: 0.5em;
}

.chapter-section section h2 {
  color: var(--light-black-color);
  line-height: 1em;
}

.chapter-section section p {
  color: var(--gray-color);
  width: min(100%, 20em);
  margin-top: 0.8em;
  line-height: 1.5em;
}

@media (min-width: 46em) {
  .chapter-section {
    margin: 6em 5em;
  }
}

/* Carousel Section */
.swiper {
  width: min(90%, 75em);
  height: 100%;
  margin-bottom: 2em;
  margin-top: 5em;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  list-style: none;
  font-size: 18px;
  background: var(--slightly-white-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
}

.swiper-slide div {
  padding: 2em 1.5em;
}

.swiper-slide div p:first-child {
  color: var(--black-color);
  text-align: left;
  margin-bottom: 0.9em;
  font-size: 1.5rem;
  line-height: 1.1em;
}

.swiper-slide div p {
  color: var(--black-color);
  text-align: left;
  font-size: 1rem;
}

.swiper-slide div a {
  color: var(--black-color);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 600;
  font-size: 1rem;
}

/* Next Button */
.swiper-button-next::after {
  display: none;
}

/* Prev Button */
.swiper-button-prev::after {
  display: none;
}

/* Bullets */
.swiper-pagination-bullet-active {
  background-color: var(--black-color) !important;
}

@media (min-width: 46em) {
  .swiper {
    height: 30em;
  }

  .swiper-slide {
    flex-direction: row;
  }

  .swiper-slide img {
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .swiper-slide div {
    padding: 2.5em;
  }

  .swiper-slide div a {
    margin-bottom: 0;
  }

  /* Next Button */
  .swiper-button-next::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  /* Prev Button */
  .swiper-button-prev::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
}

/* Host Section */
.host-section {
  background: url("./assets/hostimage.jpg");
  background-size: cover;
  background-position: center;
  width: min(90%, 75em);
  height: 100%;
  margin: 4em auto;
  border-radius: 15px;
  padding: 2em;
  box-shadow: inset 150px 0px 300px var(--black-color);
}

.host-section h2 {
  color: var(--white-color);
  font-size: 1rem;
}

.host-section h1 {
  color: var(--white-color);
  font-size: clamp(2rem, 4vw, 2.7rem);
  width: min(100%, 11em);
  margin-top: 0.5em;
}

.host-section h1 span {
  color: var(--pink-color);
}

.host-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
}

.host-section div button {
  padding: 1em 1.5em;
  color: var(--white-color);
  outline: none;
  background: var(--pink-gradient-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.host-section button:hover {
  background: var(--pink-color);
}

.host-section div p {
  color: var(--white-color);
  text-decoration: underline;
  margin-top: 1.5em;
}

@media (min-width: 46em) {
  .host-section {
    margin: 7em auto;
    padding: 3em 5em;
    height: 30em;
  }
}

@media (min-width: 55em) {
  .host-section div {
    flex-direction: row;
    align-items: center;
  }

  .host-section div p {
    margin-left: 2em;
    margin-top: 0em;
  }
}
