:root {
  --white-color: #ffffff;
  --slightly-white-color: #f7f7f7;
  --light-gray-color: #b0b0b0cc;
  --light-black-color: #222222;
  --pink-color: #ff385c;
  --pink-gradient-color: radial-gradient(
    circle at left,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --light-gray-color: #717171;
  --gray-color: #484848;
  --slightly-dark-gray-color: #333333;
  --black-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

/* Header */
header {
  position: absolute;
  top: 0;
  z-index: 2;
  margin: 1.3em 0.8em;
}

header > nav > a {
  color: var(--white-color);
  font-size: 2.5rem;
  background: none;
  padding: 0.35em;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

header > nav > a:hover {
  background: var(--gray-color);
}

/* Hero Section */
.hero-section {
  background: url("assets/herosectionimage.jpg");
  background-size: cover;
  background-position: center;
  height: 34em;
  padding: 2em;
  box-shadow: inset 150px 0px 300px var(--black-color);
}

.hero-section h2 {
  color: var(--white-color);
  font-size: 1.3rem;
  margin-top: 4em;
  font-weight: 700;
}

.hero-section h1 {
  color: var(--white-color);
  font-size: clamp(2rem, 5vw, 3.7rem);
  width: min(100%, 10em);
  margin-top: 0.2em;
  line-height: 1em;
}

.hero-section p {
  color: var(--white-color);
  width: min(100%, 23em);
  margin-top: 1em;
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  line-height: 1.5em;
}

.hero-section button {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  color: var(--white-color);
  outline: none;
  background: var(--pink-gradient-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.hero-section button:hover {
  background: var(--pink-color);
}

@media (min-width: 50em) {
  .hero-section {
    padding: 2em 5em;
  }

  .hero-section h2 {
    margin-top: 3.2em;
  }

  .hero-section h1 {
    width: 10em;
  }

  .hero-section p {
    width: 22em;
  }
}

/* Chapter Section */
.chapter-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 2em;
  margin: 3em;
}

.chapter-section h1 {
  color: var(--light-black-color);
  font-size: 2.5rem;
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  margin-right: 0.5em;
  line-height: 1.2em;
}

.chapter-section section {
  margin-right: 0.5em;
}

.chapter-section section h2 {
  color: var(--light-black-color);
  line-height: 1em;
}

.chapter-section section p {
  color: var(--gray-color);
  width: min(100%, 20em);
  margin-top: 0.8em;
  line-height: 1.5em;
}

@media (min-width: 46em) {
  .chapter-section {
    margin: 6em 5em;
  }
}

/* Carousel Section */
.mySwiper {
  width: min(90%, 75em);
  height: 100%;
  margin-bottom: 2em;
  margin-top: 5em;
  border-radius: 20px;
}

.mySwiper .swiper-wrapper .swiper-slide {
  text-align: center;
  list-style: none;
  font-size: 18px;
  background: var(--slightly-white-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
}

.mySwiper .swiper-wrapper .swiper-slide div {
  padding: 2em 1.5em;
}

.mySwiper .swiper-wrapper .swiper-slide div p:first-child {
  color: var(--black-color);
  text-align: left;
  margin-bottom: 0.9em;
  font-size: 1.5rem;
  line-height: 1.1em;
}

.mySwiper .swiper-wrapper .swiper-slide div p {
  color: var(--black-color);
  text-align: left;
  font-size: 1rem;
}

.mySwiper .swiper-wrapper .swiper-slide div a {
  color: var(--black-color);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 600;
  font-size: 1rem;
}

/* Next Button */
.mySwiper .swiper-button-next::after {
  display: none;
}

/* Prev Button */
.mySwiper .swiper-button-prev::after {
  display: none;
}

/* Bullets */
.swiper-pagination-bullet-active {
  background-color: var(--black-color) !important;
}

@media (min-width: 46em) {
  .mySwiper {
    height: 30em;
  }

  .mySwiper .swiper-wrapper .swiper-slide {
    flex-direction: row;
  }

  .mySwiper .swiper-wrapper .swiper-slide img {
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .mySwiper .swiper-wrapper .swiper-slide div {
    padding: 2.5em;
  }

  .mySwiper .swiper-wrapper .swiper-slide div a {
    margin-bottom: 0;
  }

  /* Next Button */
  .mySwiper .swiper-button-next::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  /* Prev Button */
  .mySwiper .swiper-button-prev::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
}

/* Host Section */
.host-section {
  background: url("./assets/hostimage.jpg");
  background-size: cover;
  background-position: center;
  width: min(90%, 75em);
  height: 100%;
  margin: 4em auto;
  border-radius: 15px;
  padding: 2em;
  box-shadow: inset 150px 0px 300px var(--black-color);
}

.host-section h2 {
  color: var(--white-color);
  font-size: 1rem;
}

.host-section h1 {
  color: var(--white-color);
  font-size: clamp(2rem, 4vw, 2.7rem);
  width: min(100%, 11em);
  margin-top: 0.5em;
}

.host-section h1 span {
  color: var(--pink-color);
}

.host-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
}

.host-section div button {
  padding: 1em 1.5em;
  color: var(--white-color);
  outline: none;
  background: var(--pink-gradient-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.host-section button:hover {
  background: var(--pink-color);
}

.host-section div p {
  color: var(--white-color);
  text-decoration: underline;
  margin-top: 1.5em;
}

@media (min-width: 46em) {
  .host-section {
    margin: 7em auto;
    padding: 3em 5em;
    height: 30em;
  }
}

@media (min-width: 55em) {
  .host-section div {
    flex-direction: row;
    align-items: center;
  }

  .host-section div p {
    margin-left: 2em;
    margin-top: 0em;
  }
}

/* Carousel Section 2*/
.swiper-section-2 {
  margin: 0em auto 7em auto;
}

.swiper-section-2 h1 {
  color: var(--light-black-color);
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  margin: 0em 1em 1em 0.8em;
}

.swiper-section-2 .mySwiper2 {
  height: 100%;
  width: min(90%, 70em);
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide {
  list-style: none;
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide div {
  overflow: hidden;
  border-radius: 15px;
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide div img {
  display: block;
  width: 100%;
  height: 14em;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide div img:hover {
  transform: scale(1.8);
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide h2 {
  color: var(--light-black-color);
  margin-top: 0.7em;
  line-height: 1.2em;
  font-size: 1.2rem;
  padding-right: 0.4em;
}

.swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide p {
  color: var(--light-black-color);
  margin-top: 0.8em;
  padding-right: 0.4em;
  margin-bottom: 3.3em;
}

.swiper-section-2 .mySwiper2 .swiper-button-prev::after {
  display: none;
}

.swiper-section-2 .mySwiper2 .swiper-button-next::after {
  display: none;
}

.swiper-section-2 .mySwiper2 .swiper-pagination {
  display: block;
}

@media (min-width: 30em) {
  .swiper-section-2 .mySwiper2 .swiper-wrapper .swiper-slide p {
    margin-bottom: 0em;
  }

  .swiper-section-2 .mySwiper2 .swiper-button-prev::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .swiper-section-2 .mySwiper2 .swiper-button-next::after {
    display: block;
    color: var(--black-color);
    font-size: 1.1rem !important;
    background: var(--white-color);
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .swiper-section-2 .mySwiper2 .swiper-pagination {
    display: none;
  }
}

@media (min-width: 46em) {
  .swiper-section-2 h1 {
    margin-left: 2em;
  }
}

/* Question Section */
.question-section {
  display: flex;
  flex-direction: column;
  margin: 0em 1.5em 5em 1.5em;
}

.question-section div:first-child {
  width: 100%;
}

.question-section div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.question-section div h2 {
  color: var(--black-color);
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-size: 1.2rem;
}

.question-section div h1 {
  color: var(--light-black-color);
  font-size: clamp(1.7rem, 3vw, 2.7rem);
  width: min(90%, 12em);
}

.question-section div button {
  margin-top: 1.3em;
  padding: 1em 1.5em;
  outline: none;
  background: var(--light-black-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: background 0.5s ease-in-out;
}

.question-section div button:hover {
  background: var(--black-color);
}

@media (min-width: 46em) {
  .question-section {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 0em 2.5em 5em 2.5em;
  }

  .question-section div:first-child {
    width: 70em;
  }

  .question-section div h2 {
    margin-top: 0em;
  }
}

@media (min-width: 56em) {
  .question-section {
    margin: 0em 5em 3.5em 5em;
  }
}

/* Support Section */
.support-section {
  padding: 0em 1em 5.5em 1em;
}

.support-section h1 {
  color: var(--light-black-color);
  font-size: clamp(2rem, 3.5vw, 2.9rem);
  margin-bottom: 1em;
}

.support-section div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-row-gap: 3.5em;
  grid-column-gap: 2em;
}

.support-section div article {
  padding-right: 0.5em;
}

.support-section div article h2 {
  color: var(--light-black-color);
  margin-bottom: 0.5em;
}

.support-section div article p {
  color: var(--gray-color);
  line-height: 1.7em;
  font-size: 1rem;
}

.support-section div article div a {
  margin-top: 1.2em;
  font-size: 0.95rem;
  color: var(--black-color);
  font-weight: 700;
}

@media (min-width: 40em) {
  .support-section {
    padding: 0em 3em 5.5em 3em;
  }

  .support-section div {
    grid-gap: 2em;
  }
}

@media (min-width: 56em) {
  .support-section {
    padding: 0em 5.5em 5.5em 5.5em;
  }
}

/* Journey Section */
.journey-section {
  background: url("assets/journeyimage.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 150px 0px 300px var(--black-color);
  height: 25em;
  padding: 0em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.journey-section h1 {
  color: var(--white-color);
  font-size: clamp(2.2rem, 3.5vw, 3rem);
  width: min(100%, 10em);
}

.journey-section p {
  color: var(--white-color);
  margin-top: 1em;
  font-size: 1.2rem;
}

.journey-section button {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  color: var(--white-color);
  outline: none;
  background: var(--pink-gradient-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.journey-section button:hover {
  background: var(--pink-color);
}

@media (min-width: 46em) {
  .journey-section {
    height: 35em;
    padding: 0em 4em;
    margin-top: 1em;
  }
}

/* Sign Up Section */
.sign-up-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5em 2em;
  background: var(--slightly-white-color);
}

.sign-up-section article {
  margin-bottom: 2em;
}

.sign-up-section article h1 {
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  width: min(100%, 15em);
  color: var(--light-black-color);
}

.sign-up-section article p {
  width: min(100%, 30em);
  margin-top: 2em;
  color: var(--light-black-color);
  line-height: 1.5em;
}

.sign-up-section .sign-up-info div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-up-section .sign-up-info div:first-child label {
  color: var(--light-black-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.sign-up-section .sign-up-info div:first-child input {
  padding: 1em;
  border: 3px solid var(--gray-color);
  margin-bottom: 2em;
  width: min(100%, 35em);
  border-radius: 10px;
  font-weight: 700;
}

.sign-up-section .sign-up-info div:first-child input:focus {
  outline: none;
  border: 3px solid var(--black-color);
}

.sign-up-section .sign-up-info div:nth-child(2) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.7em;
}

.sign-up-section .sign-up-info div:nth-child(2) .container {
  display: block;
  position: relative;
  padding-left: 2.1em;
  margin-bottom: 0.75em;
  cursor: pointer;
  font-size: 1em;
  user-select: none;
}

.sign-up-section .sign-up-info div:nth-child(2) .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sign-up-section .sign-up-info div:nth-child(2) .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8em;
  width: 1.8em;
  background: var(--white-color);
  border: 2px solid var(--light-gray-color);
  border-radius: 5px;
}

.sign-up-section .sign-up-info div:nth-child(2) .container .checkmark:hover {
  border: 2px solid var(--black-color);
}

.sign-up-section
  .sign-up-info
  div:nth-child(2)
  .container
  input:checked
  ~ .checkmark {
  background: var(--black-color);
  border: 2px solid var(--black-color);
}

.sign-up-section .sign-up-info div:nth-child(2) .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sign-up-section
  .sign-up-info
  div:nth-child(2)
  .container
  input:checked
  ~ .checkmark:after {
  display: block;
}

.sign-up-section .sign-up-info div:nth-child(2) .container .checkmark:after {
  left: 0.5em;
  top: 0.2em;
  width: 0.3em;
  height: 0.6em;
  border: solid var(--white-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sign-up-section .sign-up-info div:nth-child(2) p {
  color: var(--light-black-color);
  width: min(100%, 30em);
  margin-left: 0.5em;
  line-height: 1.5em;
  font-size: 0.9rem;
}

.sign-up-section .sign-up-info button {
  padding: 1em 1.5em;
  outline: none;
  background: var(--light-black-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: background 0.5s ease-in-out;
}

.sign-up-section .sign-up-info button:hover {
  background: var(--black-color);
}

.sign-up-section .sign-up-info .privacy-policy {
  color: var(--light-gray-color);
  margin-top: 2em;
  width: min(100%, 30em);
  font-size: 0.9rem;
  line-height: 1.4em;
}

.sign-up-section .sign-up-info .privacy-policy a {
  color: var(--black-color);
}

@media (min-width: 46em) {
  .sign-up-section {
    flex-direction: row;
    justify-content: space-around;
    padding: 5em 2.5em;
  }

  .sign-up-section article {
    margin-bottom: 0em;
    padding-right: 3em;
  }

  .sign-up-section article h1 {
    width: min(100%, 10em);
  }
}

@media (min-width: 56em) {
  .sign-up-section {
    padding: 5em 4.5em;
  }
}

/* Footer */
footer {
  background: var(--slightly-white-color);
  padding: 3em 2em 4em 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  border-top: 2px solid var(--gray-color);
}

footer section h1 {
  color: var(--black-color);
  font-size: 1rem;
}

footer section ul {
  margin-top: 1em;
}

footer section ul li {
  list-style: none;
  margin-bottom: 1em;
}

footer section ul li a {
  text-decoration: none;
  color: var(--black-color);
  line-height: 1.3em;
  font-size: 0.9rem;
}

footer section ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 36em) {
  footer {
    padding: 3em 3em 4em 3em;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
}

@media (min-width: 46em) {
  footer {
    padding: 3em 5em 4em 5em;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  }
}
